body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#d671f0, #fa6bec);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 3px darkmagenta;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #61f2ed;
    margin-bottom: 10px;
}

#bday-age {
    background: #61f2ed;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #61f2ed;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    background-position: center-bottom;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/55iRWSSTTwKsW8qmvy/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/l3q2YP25W7J8JFhTy/giphy.gif");
    background-position: center;
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/ATRYgLkKNAqloclN6z/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/Y3Ma6GpF3lSrtO9t23/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/z0fy93Xezc0E0/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/